body {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}

.container-brown {
	width: 100%;
	height: 500px;
	background-color: #a79f94;
	position: absolute;
}

.container-brown h2 {
	font-size: 2.8125rem;
	line-height: 1.1;
	font-family: Raleway, sans-serif;
	color: white;
	text-align: center;
	margin: 0 auto;
}

.text1 {
	padding: 110px 30px 30px;
}

.container-imgs {
	display: flex;
	margin: auto;
	width: fit-content;
	/* position: relative; */
}

.container-imgs div {
	margin: 0 30px;
}

.container-img img {
	border-radius: 25px;
	height: 282px;
	width: 216px;
	object-fit: cover;
}

.container-img {
	text-align: center;
	background-color: white;
	padding: 5px;
	border-radius: 25px;
}

.img1 {
	position: absolute;
	top: 30%;
	left: 10%;
}

.img2 {
	position: absolute;
	top: 45%;
	left: 30%;
}

.img3 {
	position: absolute;
	top: 30%;
	right: 30%;
}

.img4 {
	position: absolute;
	top: 45%;
	right: 10%;
}